html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
body {
    background-color:lightcyan;
}

.navbar-custom {
    background-color:lightgreen;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}