@page 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here you will find a wide variety of toys</p>
</div>
<body style="background-color:lightcyan;">
    <center><img src="images/jucarii.jpg" width="75%"></center>
 </body>